<div class="sidebar">
        <div class="container sidebar-sticky">
          <div class="sidebar-about">
            <a href="{{ .Site.BaseURL }}">{{ partial "logo.html" . }}<h1>{{ .Site.Title }}</h1></a>
          </div>
      
          <ul class="sidebar-nav">
            <li><a href="{{ .Site.BaseURL }}">home</a> </li>
            {{ range .Site.Menus.main -}}
              <li><a href="{{.URL}}"> {{ .Name }} </a></li>
            {{- end }}
          </ul>
      
          <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
        </div>
      </div>